<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="collector" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir:-.}/collector.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0}: %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir:-.}/collector.%d.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="me.alexand.scat.statistic.collector" level="debug" additivity="false">
        <appender-ref ref="collector"/>
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="collector"/>
        <appender-ref ref="console"/>
    </root>
</configuration>